import pandas as pd
import yfinance as yf
import streamlit as st
import matplotlib.pyplot as plt
import regex as re
import nltk as nltk
import wordcloud as wc
from unidecode import unidecode
from nltk.stem import SnowballStemmer
import requests
from bs4 import BeautifulSoup
import plotly.express as px
from io import BytesIO